{% extends 'Containers/base.html' %}
{% block title %}
  Book
{% endblock %}

{% block header %}
  {% include 'Compornents/header.html' %}
{% endblock %}

{% block content %}
<div class="mx-auto max-w-screen-lg">
    <!-- image - start -->
<div class="h-fit w-full rounded-lg bg-gray-100 shadow-lg mx-auto">
    <a href="https://www.ymm.co.jp/p/detail.php?code={{ book.product_code }}">
        <img src="https://www.ymm.co.jp/p/cover/{{ book.product_code }}.gif" 
             loading="lazy" 
             class="object-contain max-h-[30vh] mx-auto" />
    </a>
</div>

    <!-- image - end -->

    <!-- content - start -->
    <h1 class="mb-2 mt-5 text-center text-2xl font-bold text-gray-800 sm:text-left md:text-3xl">{{ book.book_name }}</h1>

    <h1 class="mb-2 mt-5 text-center text-xl font-bold text-gray-800 sm:text-left md:text-3xl">収録曲</h1>
    <div class="overflow-auto">
    <div class="w-[150%] min-w-[750px]">
        <table class="w-full border-collapse bg-white object-center text-left text-sm text-gray-500 ">
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-4 font-medium text-gray-900" >song name</th>
                    <th scope="col" class="px-6 py-4 font-medium text-gray-900" id = "details">Artist</th>
                    <th scope="col" class="px-6 py-4 font-medium text-gray-900" id = "details">Lyricist</th>
                    <th scope="col" class="px-6 py-4 font-medium text-gray-900" id = "details">SongWriter</th>
                    <th scope="col" class="px-6 py-4 font-medium text-gray-900" id = "Arranger">Arranger</th>
                </tr>
            </thead>
            <tbody class=" divide-y divide-gray-100 border-t border-gray-100">
                {% for song in songs %}
                    <tr class="hover:bg-gray-50">
                        <td class="px-6 py-4 font-medium">
                        {{ song.song_name }}
                        {% if song.memo %}
                            <br><span class="text-xs">{{song.memo}}</span>
                        {%endif%}
                        </td>
                        
                        <td class="px-6 py-4 font-medium">
                            {% for artist in song.artists %}
                                {{ artist.Artist_name }}{% if not loop.last %}<wbr>&nbsp;{% endif %}
                            {% endfor %}
                        </td>
                        <td class="px-6 py-4 font-medium">
                            {% for lyricist in song.lyricists %}
                                {{ lyricist.lyricist_name }}{% if not loop.last %}<wbr>&nbsp;{% endif %}
                            {% endfor %}
                        </td>
                        <td class="px-6 py-4 font-medium">
                            {% for songwriter in song.song_writers %}
                                {{ songwriter.song_writer_name }}{% if not loop.last %}<wbr>&nbsp;{% endif %}
                            {% endfor %}
                        </td>
                        <td class="px-6 py-4 font-medium">
                            {% for arranger in song.arrangers %}
                                {{ arranger.arranger_name }}{% if not loop.last %}<wbr>&nbsp;{% endif %}
                            {% endfor %}
                        </td>   
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>  
    </div>
    <!-- content - end -->
</div>
{% endblock %}

{% block footer %}
  {% include 'Compornents/footer.html' %}
{% endblock %}
