{% extends 'Containers/base.html' %}
{% block title %}
  HOME
{% endblock %}

{% block header %}
  {% include 'Compornents/header_home.html' %}

{% endblock %}

{% block content %}
  <p class="text-center text-2xl my-10 sm:my-0 break-keep">
    音風　楽譜館へようこそ。
    <br />
    ここでは<wbr>部室所蔵の楽譜を<wbr>
    検索できます。
  </p>
  
  <h1 class="text-center text-2xl font-extrabold p-5">本の検索</h1>
  <form method="get" action="/searchbook">
    {% include 'Compornents/searchber.html' %}
  </form>
  
  <h1 class="text-center text-2xl font-extrabold p-5">曲の検索</h1>
  <form method="get" action="/searchsong">
    {% include 'Compornents/searchber.html' %}
  </form>

  {% include 'Containers/extrasearch.html'%}

  <h1 class="text-center text-2xl font-extrabold pt-5 pb-3 mt-10">お知らせ</h1>
    {% include 'Compornents/notice.html' %}

  <h1 class="text-center text-2xl font-extrabold py-3 mt-10">pick up</h1>
    {% include 'Compornents/pickups.html' %}

{% endblock %}

{% block footer %}

  <div class = "mt-5">
    {% include 'Compornents/footer.html' %}
  </div>
  
{% endblock %}
