{% extends 'Containers/base.html' %}
{% block title %}
  HOME
{% endblock %}

{% block header %}
  <!-- components の header.html をインクルード -->
  {% include 'Compornents/header.html' %}

{% endblock %}

{% block content %}
  <div class="mx-auto max-w-5xl px-10">
    <h1 class="text-center text-5xl font-extrabold p-10">HOME</h1>
    <p class="text-center text-2xl pb-5">音風　楽譜館へようこそ。ここでは部室所蔵の楽譜を検索できます。</p>
    
    <h1 class="text-center text-2xl font-extrabold p-5">本の検索</h1>
    <form method="get" action="/searchbook/">
      <div class="max-w-md mx-auto relative">
        <label for="Search" class="sr-only">Search</label>
        <input
          type="text"
          id="query"
          name="query"
          placeholder="Search book..."
          class="w-full rounded-md border-gray-200 py-2.5 pe-10 ps-1 shadow-sm sm:text-sm"
        />
        <span class="absolute inset-y-0 end-0 grid w-10 place-content-center">
          <button class="text-gray-600 hover:text-gray-700">
            <span class="sr-only">Search</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-4 w-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
              />
            </svg>
          </button>
        </span>
      </div>
    </form>
    
    <h1 class="text-center text-2xl font-extrabold p-5">曲の検索</h1>
    <form method="get" action="/searchsong/">
      <div class="max-w-md mx-auto relative">
        <label for="Search" class="sr-only">Search</label>
        <input
          type="text"
          id="query"
          name="query"
          placeholder="Search song..."
          class="w-full rounded-md border-gray-200 py-2.5 pe-10 ps-1 shadow-sm sm:text-sm"
        />
        <span class="absolute inset-y-0 end-0 grid w-10 place-content-center">
          <button class="text-gray-600 hover:text-gray-700">
            <span class="sr-only">Search</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-4 w-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
              />
            </svg>
          </button>
        </span>
      </div>
    </form>
  </div>
{% endblock %}

{% block footer %}
  {% include 'Compornents/footer.html' %}
{% endblock %}
