{% extends 'Containers/base.html' %}
{% block title %}
  Books
{% endblock %}

{% block header %}
  {% include 'Compornents/header.html' %}

{% endblock %}

{% block content %}
<div class="mx-auto w-full">
    
    <h1 class="text-center text-2xl font-bold mb-3">本の検索</h1>

    <form method="get" action="/searchbook">
        {% include 'Compornents/searchber.html' %}
    </form>

    <table class="w-full border-collapse table-fixed bg-white object-center text-left text-sm mt-5 text-gray-800">
    <thead class="bg-gray-50">
        <tr>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">book name</th>
        <th scope="col" class="px-6 py-4 font-medium w-[125px]  text-gray-900">added</th>
        </tr>
    </thead>
    <tbody class="divide-y divide-gray-100 border-t border-gray-100">
        {% for book in books.items %}
        <tr class="hover:bg-gray-50">
        <th class="px-6 py-4 font-medium  text-blue-800 dark:text-blue-600 hover:underline"><a href="/book/{{ book.id }}">{{ book.book_name }}</a></th>
        <td class="px-6 py-4 whitespace-nowrap">{{ book.created_at.date() }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    {% set endpoint = "searchbook" %}
    {% set current_page = page %}
    {% set total_pages = books.pages %}
    {% set has_prev = books.has_prev %}
    {% set has_next = books.has_next %}
    {% set query = que %}

    {% include 'Compornents/pagination.html' %}


</div>
   
{% endblock %}

{% block footer %}
  {% include 'Compornents/footer.html' %}
{% endblock %}
