
<label for="base-input" class="block mt-2 text-sm font-medium text-gray-900 ">Artist</label>
<input type="text" name="artist"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 ">


<label for="base-input" class="block mt-2 text-sm font-medium text-gray-900 ">Lyricist</label>
<input type="text" name="lyricist" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 ">


<label for="base-input" class="block mt-2 text-sm font-medium text-gray-900 ">Song Writer</label>
<input type="text" name="songWriter" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 ">


<label for="base-input" class="block mt-2 text-sm font-medium text-gray-900 ">Arranger</label>
<input type="text" name="arranger"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 ">

<label for="base-input" class="block mt-2 text-sm font-medium text-gray-900 ">Grade</label>
<input type="text" name="grade" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 ">

<label for="base-input" class="block mt-2 text-sm font-medium text-gray-900 ">Memo Contain</label>
<input type="text" name="memo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 ">
