<div class="px-12 text-sm text-center flex-col space-y-2">
    {# <table class="w-full text-sm">
        <tbody>
            <tr class= " ">
                <th scope="row" class="w-1/2 py-2 text-right pr-3">
                    2024.09.29
                </th>
                <td class="w-1/2 py-2 text-left pl-3">
                    リリース
                </td>
            </tr>
            <tr class="">
                <th scope="row" class="w-1/2 py-2 text-right pr-3">
                    2024.09.29
                </th>
                <td class="w-1/2 py-2 text-left pl-3">
                    お知らせ欄実装
                </td>
            </tr>
            <tr class="">
                <th scope="row" class="w-1/2 py-2 text-right pr-3">
                    2024.09.29
                </th>
                <td class="w-1/2 py-2 text-left pl-3">
                    月エレ追加
                </td>
            </tr>
        </tbody>
    </table> #}
    <p>2024.11.06&nbsp;詳細検索実装</p>
    <p>2024.10.31&nbsp;スマホ版リリース</p>
    <p>2024.09.29&nbsp;βリリース</p>
</div>
