<div class="px-12 text-sm text-center flex-col space-y-2">
    {# <table class="w-full text-sm">
        <tbody>
            <tr class= " ">
                <th scope="row" class="w-1/2 py-2 text-right pr-3">
                    2024.09.29
                </th>
                <td class="w-1/2 py-2 text-left pl-3">
                    リリース
                </td>
            </tr>
            <tr class="">
                <th scope="row" class="w-1/2 py-2 text-right pr-3">
                    2024.09.29
                </th>
                <td class="w-1/2 py-2 text-left pl-3">
                    お知らせ欄実装
                </td>
            </tr>
            <tr class="">
                <th scope="row" class="w-1/2 py-2 text-right pr-3">
                    2024.09.29
                </th>
                <td class="w-1/2 py-2 text-left pl-3">
                    月エレ追加
                </td>
            </tr>
        </tbody>
    </table> #}
    <p class="break-keep">2024.11.12&nbsp;意外とみんな使ってくれてるみたいで<wbr>ありがとうございます。<br>実は部室にはあるけど登録ができてないのが<wbr>少しあります。<br>手が空いたときに登録するので<wbr>もう少し待ってください笑<br>あと詳細検索、若干不具合あります。<br>デザインとかほしい機能とか募集中です。</p>
    <p class="break-keep">2024.11.12&nbsp;学祭最高！<wbr>みんなお疲れ様でした！</p>
    <p>2024.11.11&nbsp;αリリース</p>
    <p>2024.11.06&nbsp;詳細検索実装</p>
    <p>2024.10.31&nbsp;スマホ版リリース</p>
    <p>2024.09.29&nbsp;βリリース</p>
</div>
