<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>音風　楽譜館 - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='./output.css') }}">
    </head>
    <body>
        <div class = "min-w-[500px]">
            {% block header %}
            {% endblock %}
            <div class = "px-3">
                {% block content %}
                {% endblock %}
            </div>
            {% block footer %}
            {% endblock %}
        </div>
    </body>
</html>