<details>
  <summary class="text-center text-xl font-extrabold px-5 pt-5 pb-3">詳細検索</summary>
  <p class="text-center">開発中<br>完全一致です　スペルには気をつけてください<br>ヒットしない場合、英語にしたりカタカナにしたりしてください</p>
  <p class="text-center">AND,部分一致検索です</p>
  <form  action="/advancedsearch" method="get" class="px-10 mx-auto text-center">

    {% include 'Compornents/extraforms.html' %}  

    <button type="submit" class="py-1 px-5  mt-5 me-2 mb-2 text-sm text-gray-900 bg-white rounded-full border border-gray-200  focus:z-10 focus:ring-8 focus:ring-gray-100 d">search</button>
  </form>
 
</details>

    
