<!-- pagination.html -->
<div class="p-4 flex justify-center">
    <nav aria-label="Pagination">
        <ul class="inline-flex items-center space-x-1 rounded-md text-sm">
            <!-- Previous Page Link -->
            {% include 'Compornents/Pagenate/prev.html'%}
            <!-- Page Indicator -->
            <li>
                <span class="inline-flex items-center space-x-1 rounded-md bg-white px-4 py-2 text-gray-500">
                    Page <b class="mx-1">{{ current_page }}</b> of <b class="ml-1">{{ total_pages }}</b>
                </span>
            </li>
            <!-- Next Page Link -->
            {%include 'Compornents/Pagenate/next.html'%}
        </ul>
    </nav>
</div>
